/* Arquivo CSS para formatação da tabela de usuários cadastrados para consumo de saldo */

/*  Tabela de estruturação de dados  */
#resultados {
    max-height: 750px; /* Ajuste a altura conforme necessário */
    overflow-y: auto;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
}

#listaDados {
    max-height: 800px; /* Ajuste a altura conforme necessário */
    overflow-y: auto;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
}

#listaClientes {
    max-height: 800px; /* Ajuste a altura conforme necessário */
    overflow-y: auto;
    border: 1px solid rgb(221, 221, 221);
    padding: 10px;
}


.tabela-container {
    position: relative;
    max-height: 750px; /* Ajuste a altura conforme necessário */
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    position: relative;
    z-index: 0;
}

td {
    border: 1px solid rgb(221, 221, 221);
    padding: 8px;
    text-align: left;
    z-index: 0;
}

th {
    background-color: black;
    position: sticky; /* fixed */
    top: 0;
    z-index: 2;
    padding: 10px;
    text-align: center;
    color: white;
    opacity: 1; /* Garantia de cor sólida e sem transparência */    
}

tbody {
    display: block;
    height: 600px; /* Ajuste a altura conforme necessário */
    overflow-y: auto;
}

thead {
    display: table;
    position: sticky;
    top: 0;
    width: 100%;
    table-layout: fixed;
    z-index: 2;
    text-align: center;
}
body tr {
    display: table;
    position: sticky;
    top: 0;
    width: 100%;
    table-layout: fixed;
}
